/*Comentarios en CSS*/
body {
    background: url(rainbowc.jpg);
    background-size: 1366px 768px; 
}
/*Se eligió un fondo de pantalla pensado en las personas usuarias finales*/
h1{
    display: flex;
    margin: 30px;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "Sofia", sans-serif;
    background-color: rgba(255, 255, 255, 0.527);
    border: 2px;
    border-radius: 8px;
}

#introduction{
    display: flex;
    margin: 50px;
    padding: 20px;
    justify-content: space-around;
    flex-direction: row;
    font-style: italic;
    color: black;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.498);
    border: 2px;
    border-radius: 8px;
}

#engIntro{
    padding: 15px;
    /*background-color: rgba(248, 178, 178, 0.553);*/
    border: 2px;
    border-radius: 8px;
}

#spIntro{
    padding: 15px;
    border: 2px;
    border-radius: 8px;
}

.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100px;
    margin: 10px;
    padding: 25px;
    border: 2px;
    border-radius: 8px;
}

#functionButtons {
    display:flex; 
    justify-content: center;
    align-items: flex-end;
    border: 2px;
    border-radius: 12px;
}

